<%= render "components/navbar" %>
<%= render "components/banner" %>
<div class="container mt-5">
  <div class="bg-white rounded p-3 shadow">
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
<%# <%= link_to "Delete",
  list_path(@bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
