<%= render "components/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@list.photo.key) %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
    <a href="<%= list_path(@list) %>" class="btn movie-counter"><%= @list.movies.count %> Movies</a>
  </div>
</div>
<div class="container d-flex justify-content-end">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary my-3" %>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Overview</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @list.movies.each do |movie| %>
      <tr>
        <td><%= image_tag movie.poster_url, class: "img-thumbnail" %></td>
        <td><%= movie.title %></td>
        <td><%= movie.overview %></td>
        <td><%= movie.rating %></td>
        <td>
          <%= link_to "delete",
          bookmark_path(@list),
          class: "btn btn-warning",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<div class="container mb-5">
  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <div class="card-trip col-12 col-sm-6 mb-4">
        <img src="<%= movie.poster_url %>" />
        <div class="card-trip-infos">
          <div>
            <div class="d-flex align-items-baseline">
              <h4><%= movie.title %></h4>
              <h5 class="p-1"> • <%= movie.rating %><i class="fa-solid fa-star text-warning"></i></h5>
            </div>
            <p><%= movie.overview %></p>
          </div>
        </div>
        <div class="d-flex justify-content-between px-3 pb-3">
          <p><i class="fa-sharp fa-solid fa-quote-left"></i> <%= @list.bookmarks.sample.comment %></p>
          <%= link_to "delete",
          bookmark_path(@list),
          class: "t-none red-text",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>
